body {
	height: 400px;
	width: 410px;
	padding: 0px;
	margin: 0px;
	font: Helvetica;
	font-weight: 400;
}

.groupEntry, .contactEntry{
	margin: 0;
	color: #7D8890;
  background: #white;
	border-bottom: 1px solid #7D8890;
  height: 50px;
}

#group_list, #contact_list{
	margin: 8px;
	height: 250px;
	border: 1px solid #7D8890;
	overflow-y: scroll;
}

input[type=radio]{
	display: none;
}

input[type=radio] + label span{
	display:inline-block;
	border-radius: 100%;
	border: 4px solid #7D8890;
	cursor: pointer;
	background-color: white;
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

input[type=radio]:checked ~ label span{
		background-color: white;
		border: 4px solid white;
}

#select{
	display: inline-block;
	vertical-align: bottom;
}

#group_info{
	display: inline-block;
	margin-left: 10px;
	margin-top: 5px;
	vertical-align: text-bottom;
}

#contact_info{
	display: inline-block;
	margin-left: 10px;
	margin-top: 12px;
	vertical-align: text-center;
}

#contact_footer{
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

h2{
	margin: 0;
	text-align: left;
	color: #7D8890;
}

h5{
	margin: 0;
	text-align: left;
	font-style: italic;
}

.no-padding {
	padding: 0;
	margin: 0;
}

#blue-panel {
	background-color: #1F8DD6;
	height: 50px;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: center;
}

#blue-panel {
	color: white;
	font-size: 28px;
}

#blue-button {
    background-color: #1F8DD6;
    border-bottom: 5px;
    color: white;
    padding: 10px;
		margin-left: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
		width: 38%;
		border: 0;
		outline: none;
}

#key-text {
  width: auto;
  padding: 12px;
  margin: 8px;
  box-sizing: border-box;
	font-size: 20px;
	color: #7D8890;
}

.back-button{

}

.edit_button button{
	background-color: #7D8890;
	border-bottom: 5px;
	color: white;
	text-decoration: none;
	display: inline-block;
	border: 0;
	outline: none;
}

.edit_button #edit_contact{

}


#top-buttons button {
	background-color: #7D8890;
	border-bottom: 5px;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 5px;
	border: 0;
	outline: none;
}

#top-buttons #new-group{
	width: 38%;
}

#top-buttons #manage-contacts{
	width: 57%;
}
